body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serifc;
    background-color: rgb(2, 0, 67);
}

h1{
    color: rgb(84, 11, 71);
}

.tabuleiro{
    display: grid;
    grid-template-columns: repeat(3,100px);
    gap: 10px;
}

.celula{
    display: flex;
    background-color: rgb(84, 11, 71);
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    cursor: pointer;
}

 #botaoReiniciar{
    margin-top: 20px;
    padding: 15px;
    color: #ffffff;
    background-color: black;
    }